# Сборка .NET
[Bb]in/
[Oo]bj/
.verify/
*.user
*.suo
*.userosscache
*.sln.docstates

# Результаты обработки
results/
DroneLiDAR/
*.xyz
*.ply
*.csv
*.las
*.laz
*.bin
meta.json
manifest.json
project.json
boundary.json
report.html


# Системные файлы и ОС
.vs/
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
.DS_Store